:root{
    --background-paint: #C7C7C7;
    --text-input-field: #F7F7F7;
    --secondary-color: #ACD9B2;
    --white: #FFFFFF;
    --black: #000000;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

.form__input::placeholder {
    transform: translateY(3px);
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

.login,
.email{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.form,
.email__content{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
    /* justify-items: center; */
}

.form__logo,
.email__logo{
    width: 150px;
    margin-bottom: 48px;
    justify-self: center;
}

.form__logo{
    display: none;
}

.form__title,
.email__title{
    font-size: var(--lg);
    margin-bottom: 12px;
    text-align: center;
}

.form__title--account{
    text-align: start;
    margin-bottom: 36px;
}

.form__subtitle,
.email__subtitle{
    color: var(--black);
    font-size: var(--md);
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 32px;
    text-align: center;
}

.form a{
    color: var(--secondary-color);
    font-size: var(--sm);
    text-align: center;
    text-decoration: none;
    margin-bottom: 52px;
}

.email__image{
    width: 132px;
    height: 132px;
    border-radius: 50%;
    background-color: var(--text-input-field);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.email__image img{
    width: 80px;
}

.email__resend{
    font-size: var(--sm);
}

.email__resend span{
    color: var(--background-paint);
}

.email__resend a{
    color: var(--secondary-color);
    text-decoration: none;
}
.form,
.form__space {
    display: flex;
    flex-direction: column;
}

.form__space div{
    display: flex;
    flex-direction: column;
}

.form__label{
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
}

.form__input,
.form__account{
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 30px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 12px;
}

.form__input--email{
    margin-bottom: 22px;
}

.form__account--name,
.form__account--email,
.form__account--password{
    margin-bottom: 12px;
}

.button{
    font-family: 'Quicksand', sans-serif;
    background-color: var(--secondary-color);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}

.button--form{
    margin-top: var(--sm);
    margin-bottom: 30px;
}

.button--signup{
    background-color: var(--white);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

.button--infoaccount{
    background-color: var(--white);
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
}

.infoacc__value{
    color: var(--background-paint);
    font-size: var(--md);
    margin: 8px 0 32px 0;
}

.cards__container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
    place-content: center;
}

.product__card{
    width: 240px;
}

.product__card img{
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
}

.product__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;

}

.product__info figure{
    margin: 0;
}

.product__info figure img{
    width: 35px;
    height: 35px;
}

.product__info div p:nth-child(1){
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
}

.product__info div p:nth-child(2){
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
    color: var(--background-paint);
}

.desktop__menu{
    width: 100px;
    height: auto;
    border: 1px solid var(--background-paint);
    border-radius: 6px;
    padding: 20px 20px 0px 20px;
}

.desktop__menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.desktop__menu ul li{
    text-align: end;
}

.desktop__menu ul li:nth-child(1),
.desktop__menu ul li:nth-child(2){
    font-weight: bold;
}

.desktop__menu ul li:last-child{
    padding-top: 20px;
    border-top: 1px solid var(--background-paint);
}

.desktop__menu ul li:last-child a{
    color: var(--secondary-color);
    font-size: var(--sm);
}

.desktop__menu ul li a {
    color: var(--black);
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
}

.mobile__menu{
    padding: 24px;
}

.mobile__menu a{
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    margin-bottom: 24px;
}

.mobile__menu ul {
    padding: 0;
    margin: 24px 0 0;
    list-style: none;
}

.mobile__menu ul li{
    margin-bottom: 24px;
}

.mobile__menu ul:nth-child(1){
    border-bottom: 1px solid var(--background-paint);
}

.mobile__menu .mobilenu__email{
    font-size: var(--sm);
    font-weight: 300;
}

.mobile__menu .moilenu__signout{
    font-size: var(--sm);
    color: var(--secondary-color);
}

.mobile__menu ul:last-child{
    position: absolute;
    bottom: 0;
}

.myorder{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.myorder__title{
    font-size: var(--lg);
    margin-bottom: 40px;
}

.myorder__container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}

.myorder__content {
    display: flex;
    flex-direction: column;
}

.order{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background-color: var(--text-input-field);
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 0 24px;
}

.order p:nth-child(1){
    display: flex;
    flex-direction: column;
}


.order p span:nth-child(1){
    font-size: var(--md);
    font-weight: bold;
}

.order p:nth-child(2){
    text-align: end;
    font-weight: bold;
}

.order p span:nth-child(2){
    font-size: var(--sm);
    color: var(--background-paint);
}

.myorder__shopcart{
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
}

.myorder__shopcart figure{
    margin: 0;
}

.myorder__shopcart figure img{
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}

.myorder__shopcart p:nth-child(2){
    color: var(--background-paint);
}

.myorder__shopcart p:nth-child(3){
    font: var(--md);
    font-weight: bold;
}

@media screen and (max-width: 640px) {
    .form{
        height: 100%;
    }
    .form__space{
        height: 100%;
        justify-content: space-between;
    }

    .form__logo{
        display: block;
    }

    .button--signup{
        position: absolute;
        width: 250px;
        bottom: 20px;
    }
}

@media (max-width: 640px) {
    .cards__container{
        grid-template-columns: repeat(auto-fill, 140px);
    }

    .product__card {
        width: 140px;
    }

    .product__card img {
        width: 140px;
        height: 140px;
    }
}